.header{
	height: 100px;
	width:100%;
	border-bottom: 1px solid black;
}

* {
margin: 0;
}
html, body {
	height: 100%;
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
}
.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -50px;
}
.footer, .push {
	height: 47px;
}
.footer{
	border-top: 1px solid black;
}

.footer, .header{
	background-color: #36393D;
}

.wrapper{
	background-color: #EEEEEE;
}

.menu ul{
	list-style-type:none;
	margin:0;
	padding:0;
}
.menu li{
	color: white;
	float:left;
	list-style-type: none;
}

.menu li a{
	display:block;
	width:60px;
	color: white;
	font-size: 14px;
}

.nav{
	float:right;
	margin-top:75px;
}

.title h1 {  
        position: relative;
        float:left;  
        font-size: 100px;  
        margin-top: 0;  
        font-family: 'Myriad-Pro', 'Myriad', helvetica, arial, sans-serif;  
        text-shadow: 2px 3px 3px #292929;  
        letter-spacing: -7px;  
        -webkit-text-stroke: 1px white;  
    }  
      
      
  
  .title  h1 a {  
        text-decoration: none;  
        color: #343434;   
        position: absolute;  
  
        -webkit-mask-image: -webkit-gradient(linear, left top, left bottombottom, from(rgba(0,0,0,1)), color-stop(50%, rgba(0,0,0,0)), to(rgba(0,0,0,1)));  
        text-shadow: 0 2px 0 #FFFFFF;  
        -webkit-transition: all .3s;  
        -moz-transition: all .3s;  
        transition: all .3s;  
    }  
      
 .title h1 a:hover {  
        color: #185a50;  
    }  
  
.title h1:after {  
        color: #dbdbdb;  
        content : attr(data-title);  
    }  

 .clear{
 	clear: both;
 }

 .main{
 	padding-top: 20px;
 }

 .copyright_notice{
 	margin-left:auto;
 	margin-right:auto;
 	color: white;
 	width: 200px;
 	margin-top:30px;
 }


.login_main{
	width:400px;
	margin-left:auto;
	margin-right:auto;	
	margin-top:100px;
	margin-bottom:100px;
}

.login_message{
	width:400px;
 	margin-left:auto;
 	margin-right:auto;
 	text-align:center;
}

 .form_row{
 	width:300px;
 	padding: 15px; 	
 	margin-left:auto;
 	margin-right:auto;
 }

 .form_label_container{ 	
 	width:100px;
 	float:left;
 }

 .form_input_container{
 	float:right;
 }

.main_index{
	margin-top:100px;
	width: 800px;
	margin-bottom:100px;
	margin-left:auto;
	margin-right:auto;
}

 .main_index p{
 	font-size: 14px;
 	padding:5px;
 }

 .main_index h1{
 	font-size: 36px;
 	font-weight: bold;
 }

 .error{
 	float: left;
 }





