{{>static/includes/header.html}}
	<div class="main">
		<div class="main_index">
		<h1>What is Mortix.net?</h1>

		<p>Well, you can view our indiegogo campaign <a href="http://www.indiegogo.com/projects/mortix-net/">Here</a> for more detail but...</p>
		<p><h3>Mortix.net offers transparent, end to end encryption for app developers using a simple API wrapped around <a href="http://en.wikipedia.org/wiki/Pretty_good_privacy">PGP</a></h3></p>
		<p>We currently have a simple proof of concept browser app up and running that allows you to send / receive messages. This <b>is not</b> intended to be a 'killer app' for Mortix.net, but rather a a simple demonstration of how the API works</p>
		<p>Anything you send via mortix is (as far as anyone currently knows) completely unreadable by anyone other than you <b>Assuming your passphrase is secure</b></b>		
		<p>
		<p>You can register for Mortix <a href="/register.html">here</a></p>		
		<p> Please note: due to lack of funds Mortix.net is currently running on a laptop in my front room.  If you like the project and want to see it progress to real world use, donate to the campaign!</p>
		<p>You can send me a message by creating an account and using the browser app to send me a message at: admin@mortix.net</p>
		</div>

	</div>	

{{>static/includes/footer.html}}