{{>static/includes/header.html}}
	<div class="main">
		<div class="main_index">
		<h1>What is Mortix?</h1>

		
		<p>Mortix is an online password storage system like no other.  Store your credentials for any services you use and we'll keep them nice and safe for you.</p>
		<p>But how can you trust Mortix with all your lovely passwords?  You don't have to.  Thanks to the magic of <a href="http://en.wikipedia.org/wiki/Public-key_cryptography">asymmetric encryption</a>, we never ever (ever) have access to any of your information.</p>

		<p>Log in to your account, generate your keys (this is all done on your machine, we never see your keys) and encrypt data right in your browser using your 'locking key'. From then on that data can only be accessed using your 'unlocking key'</p>

		<p>If you don't believe us you can see exactly how our system works by taking a peek at our source code on <a href="https://github.com/Tall-Paul/mortix">github</a> just to make sure we're not hiding anything</p>

		<p>Why two keys?  You can give your unlocking key to friends or family, and invite them to be 'keyholders' on your account.  In the event of something happening to you, they can access anything you've stashed away in Mortix using that unlocking key.</p>

		<p>Not sure you trust your friends and family not to snoop at that information?  Don't worry, we keep a complete log of any access to your data.  We can even delay releasing data to your keyholders for a defined period of time, and email you to let you know a request has been made.  If you don't reply (because, you know, you're no longer with us) before the delay is up we'll release your data to your keyholders</p>

		<p>Nobody wants to think about something happening to them, but when that day comes imagine all those accounts you have out there on 'the cloud' that no-one other than you has access to.  Make sure someone can set an auto reply on your gmail, or grab all those pictures you have stashed on your dropbox...sign up for Mortix, and get some peace of mind</p>

		<p>You can register for Mortix <a href="/registration.html">here</a></p>
		</div>

	</div>	

{{>static/includes/footer.html}}