{{>static/includes/header.html}}
	<div class="main">
		<div class="login_main">
			<div class="login_message">
				<h2>Please login to access your account</h2>
				
			</div>
			<div class="login_form">
				<form  method="post">
    				<div class="form_row">
    					<div class="form_label_container">
        					<label class="form_label">Username:</label>
        				</div>
        				<div class="form_input_container">
        					<input type="text" name="username"/>
        				</div>
    				</div>
    				<div class="form_row">
    					<div class="form_label_container">
        					<label class="form_label">Password:</label>
        				</div>
        				<div class="form_input_container">
        					<input type="password" name="password"/>
        				</div>		
    				</div>
    				<div class="form_row">
        				<input type="submit" value="Log In"/> or <a href="/register.html">Register</a>
    				</div>
				</form>                
			</div>
		</div>
	</div>
{{>static/includes/footer.html}}