{{>static/includes/header.html}}
	<div class="main">
		<div class="main_index">
			<h1>Plans / Pricing</h1>
			<p>Although still under discussion, the current plans for pricing involve two tiers: free and paid</p>			
			<p>The free tier gets access to 5 'items' of data, and one keyholder</p>
			<p>Paid tier gets you 50 'items' of data, and unlimited keyholders.  We might also stick some other stuff in the paid tier... to be announced at a later date</p>
			<p>Provisional pricing for the paid tier is probably going to be around the &pound;2.99 per month mark</p>
			<p>An 'item' of data is anything you like, up to whatever we decide the limit is...maybe 100KB of text.</p>

		</div>

	</div>	

{{>static/includes/footer.html}}